# v0.14.x
May 2014

In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_rows=12

## multi indexing using slicers

In [12]:
# create the test data
def mklbl(prefix,n):
    return ["%s%s" % (prefix,i)  for i in range(n)]

miindex = MultiIndex.from_product([mklbl('A',4),
                                   mklbl('B',2),
                                   mklbl('C',4),
                                   mklbl('D',2)],
                                  names=['first','second','third','fourth']) 

micolumns = MultiIndex.from_tuples([('a','foo'),('a','bar'),
                                    ('b','foo'),('b','bah')],
                                     names=['lvl0', 'lvl1'])


dfmi = DataFrame(np.arange(len(miindex)*len(micolumns)).reshape((len(miindex),len(micolumns))),
                 index=miindex,
                 columns=micolumns).sortlevel().sortlevel(axis=1)

In [13]:
dfmi

lvl0                         a         b
lvl1                       bar  foo  bah  foo
first second third fourth
A0    B0     C0    D0        1    0    3    2
                   D1        5    4    7    6
             C1    D0        9    8   11   10
                   D1       13   12   15   14
             C2    D0       17   16   19   18
                   D1       21   20   23   22
...                        ...  ...  ...  ...
A3    B1     C1    D0      233  232  235  234
                   D1      237  236  239  238
             C2    D0      241  240  243  242
                   D1      245  244  247  246
             C3    D0      249  248  251  250
                   D1      253  252  255  254

[64 rows x 4 columns]

In [14]:
# selection
idx = pd.IndexSlice
dfmi.loc[idx[:,:,['C1','C2'],'D0'],idx[:,'foo']]

lvl0                         a    b
lvl1                       foo  foo
first second third fourth
A0    B0     C1    D0        8   10
             C2    D0       16   18
      B1     C1    D0       40   42
             C2    D0       48   50
A1    B0     C1    D0       72   74
             C2    D0       80   82
...                        ...  ...
A2    B1     C1    D0      168  170
             C2    D0      176  178
A3    B0     C1    D0      200  202
             C2    D0      208  210
      B1     C1    D0      232  234
             C2    D0      240  242

[16 rows x 2 columns]

In [15]:
# assignment
dfmi.loc[idx[:,:,['C1','C2'],'D0'],idx[:,'foo']] *= 10
dfmi

lvl0                         a          b
lvl1                       bar   foo  bah   foo
first second third fourth
A0    B0     C0    D0        1     0    3     2
                   D1        5     4    7     6
             C1    D0        9    80   11   100
                   D1       13    12   15    14
             C2    D0       17    80   19   100
                   D1       21    20   23    22
...                        ...   ...  ...   ...
A3    B1     C1    D0      233  1120  235  1140
                   D1      237   236  239   238
             C2    D0      241  1120  243  1140
                   D1      245   244  247   246
             C3    D0      249   248  251   250
                   D1      253   252  255   254

[64 rows x 4 columns]

In [16]:
# string-like selection
dfmi.query("third in ['C1','C2'] and fourth == 'D0'")

lvl0                         a          b
lvl1                       bar   foo  bah   foo
first second third fourth
A0    B0     C1    D0        9    80   11   100
             C2    D0       17    80   19   100
      B1     C1    D0       41   160   43   180
             C2    D0       49   160   51   180
A1    B0     C1    D0       73   400   75   420
             C2    D0       81   400   83   420
...                        ...   ...  ...   ...
A2    B1     C1    D0      169   800  171   820
             C2    D0      177   800  179   820
A3    B0     C1    D0      201  1040  203  1060
             C2    D0      209  1040  211  1060
      B1     C1    D0      233  1120  235  1140
             C2    D0      241  1120  243  1140

[16 rows x 4 columns]

future syntax
```python
dfmi.loc[dict(third=['C1','C2'], 
              fourth='D0')]
```

# select_dtypes

In [14]:
df = DataFrame({'A' : [1,2,3], 
                'B' : [1.,2,3], 
                'C' : 'foo', 
                'D' : pd.date_range('20130101',periods=3),
                'E' : Series(list('aab')).astype('category'),
                'F' : pd.timedelta_range('1 day',periods=3,freq='s'),
                'G' : pd.date_range('20130101',periods=3,tz='US/Eastern')})
df

   A  B    C          D  E               F                         G
0  1  1  foo 2013-01-01  a 1 days 00:00:00 2013-01-01 00:00:00-05:00
1  2  2  foo 2013-01-02  a 1 days 00:00:01 2013-01-02 00:00:00-05:00
2  3  3  foo 2013-01-03  b 1 days 00:00:02 2013-01-03 00:00:00-05:00

In [15]:
df.dtypes

A                         int64
B                       float64
C                        object
D                datetime64[ns]
E                      category
F               timedelta64[ns]
G    datetime64[ns, US/Eastern]
dtype: object

In [16]:
df.select_dtypes(include=['number']).dtypes

A              int64
B            float64
F    timedelta64[ns]
dtype: object

In [17]:
df.select_dtypes(include=['number'],exclude=['timedelta']).dtypes

A      int64
B    float64
dtype: object